@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #81E9BC
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #81E9BC
  }
}

/* Estilización del scrollbar utilizando pseudo-clases */
::-webkit-scrollbar {
  width: 12px;  /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);  /* Color del pulgar del scrollbar */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);  /* Color del fondo del scrollbar */
}

.listview {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 98%)
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gabarito), Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444444
}